<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdVenture Bot</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/static/styles.css">
<style>
body {
    font-family: 'Montserrat';font-size: 22px;
}
</style>
</head>
<body>
    <br>
    <br>
    <h1>Welcome to EdVenture Bot!</h1>

    <br>
    <br>

    <div class="container" align="">
        <div class="main">
            <h2>Pick a character below</h2>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container2">
        <a href="/chatbot?character=Dora" style="margin: 30px 30px 30px 30px;"> <img src="https://assets.nickjr.com/uri/mgid:arc:imageassetref:shared.nickjr.us:1bf56408-16a6-4079-b160-61906899d07d?quality=0.7&gen=ntrn&legacyStatusCode=true" 
            alt="Dora" style="width:200px;height:200px;"></a>

        <a href="/chatbot?character=Goofy" style="margin: 30px 30px 30px 30px;"> <img src="https://lumiere-a.akamaihd.net/v1/images/ct_mickeymouseandfriends_goofy_ddt-16970_5d1d64dc.jpeg" 
            alt="Goofy" style="width:200px;height:200px;" style="position:fixed; top:20px; left:30px;"></a>
    
        <a href="/chatbot?character=SpongeBob" style="margin: 30px 30px 30px 30px;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwfTqcop3BOzlzMuu1rbDrsg2eIJO6VmYrXw&usqp=CAU" 
            alt="SpongeBob" style="width:200px;height:200px;" style="position:fixed; top:20px; left:30px;"></a>
    </div>

   
</html>